@import "variables";

[class*="__container"] {
  padding: 0 40px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 425px) {
    padding: 0 10px;
  }
}

.violette-button {
  border: none;
  text-align: center;
  border-radius: $border5;
  font-family: $Inter600;
  color: $white;
  background-color: $violette;
}

.unselectable {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
}

.visually-hidden {
  transition: visibility 0.3s linear, opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
}