@font-face {
  font-family: "Inter-400";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter-600";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter-500";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter-700";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter-800";
  font-weight: 800;
  src: url("../fonts/Inter-ExtraBold.ttf") format("ttf");
  font-display: swap;
}