@import "variables";
@import "fonts";

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  &__container {
    padding-top: 20px !important;
    height: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__middle-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    padding-bottom: 27px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: $headerGray;
      border-radius: $border3;
    }
  }

  &__lower-part {
    margin-top: 26px;
  }
}

.mobile-header {
  &__container {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    padding-top: 29px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    margin-top: 21px;
    padding-bottom: 43px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: $headerGray;
      border-radius: $border3;
    }
  }
}

.upper-part {
  &__region {
    display: inline-flex;
    align-items: center;
  }

  &__additional-info {
    width: 471px;

    display: inline-flex;
    justify-content: space-between;
  }
}

.region {
  &__currency {
    width: 60px;
    height: 30px;
    border-radius: $border5;
    font-size: $text14;
    margin-right: 22px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__location {
    display: inline-flex;
    align-items: center;
  }
}

.currency {
  font-family: $Inter600;
  color: $white;
  background-color: $violette;

  &__value {
  }
}

.location {
  &__icon {
    width: 18px;
    height: 19px;
    margin-right: 14px;
  }

  &__country {
    color: $violette;
    font-family: $Inter500;
    font-size: $text16;
  }
}

.additional-info {
  color: $gray;
  font-family: $Inter500;

  &__link {
    font-size: $text16;
  }

  &__link a {
    color: $gray;
    text-decoration: none;
  }
}

.middle-part {
  &__logo {
    width: 12%;
    height: 22px;
  }

  &__logo img {
    width: 100%;
  }

  &__category-button {
    width: 100%;
    height: 50px;
    cursor: pointer;
  }

  &__category-button div {
    width: 68.1%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  &__category-button img {
    width: 26px;
    height: 28px;
    border: unset;
  }

  &__category-button span {
    font-family: $Inter600;
    font-weight: 600;
    font-size: $text16;
  }

  &__category-menu {
    position: absolute;
    top: 70%;
    left: 4%;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    opacity: 0;

    width: 400px;
    height: 425px;

    border-bottom-left-radius: $border5;
    border-bottom-right-radius: $border5;
    background-color: $white;
  }

  &__category-button:hover ~ &__category-menu {
    visibility: visible;
    opacity: 1;

  }

  &__category-menu:hover {
    visibility: visible;
    opacity: 1;
  }

  &__search {
    width: 49%;
    height: 50px;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 65.7%;
    }
  }

  &__user-details {
    width: 18.7%;
    height: 46px;

    display: inline-flex;
    justify-content: space-between;
  }
}

.category-menu {
  &__wrapper {
    width: 80.25%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gender {
    width: 88.8%;
    display: flex;
    justify-content: space-between;
  }

  &__gender span {
    font-family: $Inter400;
    font-weight: 400;
    font-size: $text14;
    color: #231F20;

    position: relative;

    &:after {
      content: '';
      position: absolute;

      top: 115%;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 2px;

      background-color: black;
      border-radius: $border3;
      // Animation
      transform: scale(0.5, 1);
      transition: all 0.2s ease;
      opacity: 0;
    }

    &:hover::after {
      // Animation
      transform: scale(1, 1);
      opacity: 1;
    }

  }

  &__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;

    margin-top: 27px;
  }
}

.category {
  &__link {
    margin-bottom: 22px;
  }

  &__image {
    width: 120px;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image img {
    width: 100%;
    border-radius: $border5;
  }

  &__image span {
    font-family: $Inter500;
    font-weight: 500;
    font-size: $text10;
    color: $gray;

    margin-top: 13px;
  }
}

.lower-part {
  &__category-list {
    width: 70%;
    height: 45px;

    display: flex;
    justify-content: space-between;
  }

  &__category-link {
    height: 28px;

    color: $black;
    text-align: center;
    font-family: $Inter400;
    font-size: $text18;

    position: relative;

    &_discount {
      font-family: $Inter400;
      font-size: $text18;
      color: $red;
    }

    &::after {
      width: 100%;
      height: 3px;

      content: '';
      position: absolute;

      left: 0;
      bottom: 0;
      background-color: $violette;
      border-radius: $border5;

      // Animation
      transform: scale(0.5, 1);
      transition: all 0.2s ease;
      opacity: 0;
    }

    &:hover::after {
      // Animation
      transform: scale(1, 1);
      opacity: 1;
    }

    &:active::after {
      width: 75px;
      height: 3px;

      content: '';
      position: absolute;

      left: 0;
      bottom: 0;
      background-color: $violette;
      border-radius: $border5;
    }

  }
}

.search {
  border-radius: $border5;
  background-color: $lightGray;
  font-family: $Inter500;
  color: $gray;

  &__input {
    width: 100%;
    height: 15px;

    margin-left: 9px;

    border: none;
    background: none;

    font-size: $text16;
  }

  &__input:focus {
    outline: none;
  }

  &__icon {
    width: 60px;
    height: 40px;

    margin-right: 4px;

    display: inline-flex;
    justify-content: center;
    align-content: center;

    border-radius: $border5;
    background-color: $violette;
  }

  &__icon img {
    width: 26px;
  }
}

.user-details {
  &__authorize {
    font-family: $Inter600;
    font-size: $text16;
    text-decoration-line: underline;
    color: $gray;

    background: none;
    border: none;
  }

  &__actions-wrapper {
    display: flex;
  }

  &__favourite {
    width: 40%;
    height: 46px;

    margin-right: 20px;

    position: relative;
    display: flex;
  }

  &__shopping-cart {
    width: 40%;
    height: 45px;

    position: relative;
    display: flex;
  }

  &__shopping-cart img {
    width: 100%;
  }
}

.favourite {
  &__icon {
    width: 100%;
  }

  &__item-count {
    width: 17px;
    position: absolute;
    right: 0;
    top: 11px;

    color: $white;
    text-align: center;
    font-family: $Inter700;
    font-size: $text12;
  }
}

.shopping-cart {
  &__icon {
  }

  &__item-count {
    width: 17px;
    position: absolute;
    right: 0;
    top: 11px;

    color: $white;
    text-align: center;
    font-family: $Inter700;
    font-size: $text12;
  }
}

.button-wrapper {
  width: 12.3%;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 27%;
  }
}

.mobile-fixed-menu {
  visibility: hidden;
  @media screen and (max-width: 768px) {
    visibility: visible;
  }
  width: 100vw;
  height: 80px;

  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: $white;

  display: flex;
  justify-content: center;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link {
    width: 68px;
    height: 61px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image img {
    width: 40px;
    height: 40px;
  }

  &__image span {
    font-family: $Inter600;
    font-weight: 600;
    font-size: $text12;
    text-align: center;

    color: $mediumGray;
  }
}

.active-icon {
  filter: brightness(0) saturate(100%) invert(37%) sepia(11%) saturate(4969%) hue-rotate(201deg) brightness(94%) contrast(92%);
}

.active-text {
  font-family: $Inter600;
  font-weight: 600;
  font-size: $text12;
  text-align: center;

  color: $violette !important;
}