@import "variables";

.products {
  &__container {
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    font-family: $Inter800;
    color: $mediumBlack;
    margin-bottom: 29px;
  }
}

.banner {
  &__container {
    margin-top: 40px;
  }
}

.title {
}