@import "variables";

.slider-banner {
  &__wrapper {
    margin-top: 12px;
  }
}

.products {
  &__container {
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.banner {
  &__container {
    margin-top: 40px;
  }
}

.common-wrapper {
  display: flex;
  justify-content: space-between;
}

.vertical-banner {
  padding-left: 33px;

  &__wrapper {
  }
}

.title {
  font-family: $Inter800;
  color: $mediumBlack;
  margin-bottom: 29px;
}

.footer-wrapper{
  margin-top: 45px;
}